---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
        <li>
          Date: {{ post.date | date: "%Y-%m-%d" }}&nbsp;&nbsp;<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <br>
          Tags: 
          {% for tag in post.tags %}
            <a href="/tags/{{tag}}/index.html">{{ tag }}</a>
          {% endfor %}
        </li>
    {% endfor %}
  </ul>

  <div id="pagination">
    <div class="pagenavi">
      <span class="page_number">第{{paginator.page}}页/共{{paginator.total_pages}}页</span>
      <a href="/">首页</a>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a href="/" class="current"><<前页</a>
        {% else %}
          <a href="/blog/page{{paginator.previous_page}}/"><<前页</a>
        {% endif %}
      {% else %}
        <span><<前页</span>
      {% endif %}
      {% for count in (2..paginator.total_pages) limit:6 %}
        {% if count == paginator.page %}
          <span class="current-page">{{count}}</span>
        {% else %}
          <a href="/blog/page{{count}}/">{{count}}</a>
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
        <a href="/blog/page{{paginator.next_page}}/">后页>></a>
      {% else %}
        <span>后页>></span>
      {% endif %}
      <a href="/blog/page{{paginator.total_pages}}/">末页</a>
    </div>
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
