<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>
    </nav>

    <div id="googleSearch">
      <script>
        (function() {
          var cx = '004601565031142619088:fvrokurhdwo';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
              '//www.google.com/cse/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:search></gcse:search>
    </div>

    <div id="shareComponent">
      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_share_slide jiathis_share_16x16" id="jiathis_share_slide">
      <div class="jiathis_share_slide_top" id="jiathis_share_title"></div>
      <div class="jiathis_share_slide_inner">
      <div class="jiathis_style">
      <a class="jiathis_button_tsina"></a>
      <a class="jiathis_button_weixin"></a>
      <a class="jiathis_button_douban"></a>
      <a class="jiathis_button_fb"></a>
      <a class="jiathis_button_googleplus"></a>
      <a class="jiathis_button_twitter"></a>
      <a class="jiathis_button_evernote"></a>
      <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
      <script type="text/javascript">
        var jiathis_config = {
          slide:{
            divid:'jiathis_main',
            pos:'right'
          }
        };
      </script>
      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>  
      <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_slide.js" charset="utf-8"></script>
      </div></div></div>
      <!-- JiaThis Button END -->
    </div>

  </div>
</header>
